body {
    font-family: Arial, sans-serif;
    padding-top: 90px; /* Height of the contact strip + navbar */
}

.contact-strip {
	height: 5vh;
	background-color:#1F3861;
	top: 0px;
    font-size: 0.9rem;
    z-index: 1030; /* Ensure the strip is above other content */
	padding: 10px 0;
}

.navbar-custom {
    top: 34px; /* Height of the contact strip */
    z-index: 1020; /* Ensure the navbar is above other content */
}

#home .carousel-item {
    height: 80vh;
}

#home .carousel-item img {
    height: 80%;
    object-fit: cover;
}

#home .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding

    .nav-link {
      color: #fff; /* White text for nav links */
    }
    .nav-link:hover {
      color: #ffc107; /* Hover color for nav links */
    }
}

#about .carousel-item {
    height: 35vh;
}

#about .carousel-item img {
    height: 100%;
    object-fit: cover;
}

#about .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding

    .nav-link {
      color: #fff; /* White text for nav links */
    }
    .nav-link:hover {
      color: #ffc107; /* Hover color for nav links */
    }
}

.card-deck .card {
      transition: transform 0.2s;
    }
.card-deck .card:hover {
  transform: scale(1.05);
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.card-body {
  text-align: center;
}
	